Repository hewisaurus/lunch-and-learn-microservices: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/backendapi_dev-ci-cd.yaml, pipelines/dev-ci-cd.yaml

pipelines/backendapi_dev-ci-cd.yaml:

trigger:
  branches:
    include:
      - "dev"
  paths:
    include:
      - "src/Services/BackendApi"

variables:
  - group: vg-common
  - group: vg-aks
  #- group: vg-serviceConnections
  # Individual variables
  - name: acrRepository
    value: backendapi-dev
  - name: dockerfilePath
    value: "**/src/Services/BackendApi/Dockerfile"
  - name: imageTagVariableName
    value: backendapi_imageTag

pool:
  vmImage: ubuntu-latest

stages:
  - stage: Docker_CI
    displayName: Docker CI
    jobs:
      - job: Docker
        steps:
          - template: common/ci-docker-acr-steps.yaml
  # DEV
  - stage: Dev_CI
    displayName: Dev CI
    dependsOn: Docker_CI
    condition: succeeded()
    jobs:
      - deployment: dev_ci
        displayName: Update variables
        environment: vg-dev
        variables:
          - group: helm-dev
        strategy:
          runOnce:
            deploy:
              steps:
                - template: common/ci-update-vargroup.yaml
  - stage: Dev_CD
    displayName: Dev CD
    dependsOn: Dev_CI
    condition: succeeded()
    jobs:
      - deployment: dev_helm
        displayName: Deploy helm chart to Dev AKS
        environment: dev
        variables:
          - group: helm-dev
        strategy:
          runOnce:
            deploy:
              steps:
                - template: common/cd-helm-steps.yaml

pipelines/dev-ci-cd.yaml:

trigger:
  branches:
    include:
      - "dev"
  paths:
    include:
      - "src/Services/Frontend"

variables:
  - group: vg-aks

pool:
  vmImage: ubuntu-latest

stages:
  - stage: Set_variables
    displayName: Set variables
    jobs:      
      - job: Set_vars
        steps:
          - task: PowerShell@2
            displayName: Remove refs/tags from branch path and set pipeline variable
            inputs:
              targetType: 'inline'
              script: |
                $tagName = "$(Build.SourceBranch)" -replace "refs/tags/",""
                Write-Host "##vso[task.setvariable variable=tagName;]$tagName"
                Write-Host "Setting pipeline variable tagName to $tagName"
  - stage: Docker_CI
    displayName: Docker CI
    jobs:      
      - job: Docker
        variables:
        - name: dockerfilePath
          value: "**/src/Services/Accommodation/Accommodation.Api/Dockerfile"
        steps:
          - template: ../common/ci-docker-acr-steps.yaml
  - stage: Dev_CD
    displayName: Dev CD
    dependsOn: Docker_CI
    condition: succeeded()
    jobs:
      - deployment: dev_helm
        displayName: Deploy helm chart to Dev AKS
        environment: dev
        variables:
          - group: helm-dev
        strategy:
          runOnce:
            deploy:
              steps:
                - template: common/cd-helm-steps.yaml

Update backend trigger file
  src/Services/BackendApi/trigger.txt
Due: pipelines/backendapi_dev-ci-cd.yaml

Update pipeline
  pipelines/frontend_dev-ci-cd.yaml
Due: none

Add vg-aks
  pipelines/backendapi_dev-ci-cd.yaml
  pipelines/frontend_dev-ci-cd.yaml
Due: none

Update to trigger build
  src/Services/BackendApi/trigger.txt
Due: pipelines/backendapi_dev-ci-cd.yaml

Update helm steps
  pipelines/common/cd-helm-steps.yaml
Due: none

Fix typo
  pipelines/common/cd-helm-steps.yaml
Due: none

Test pipeline path
  pipelines/common/cd-helm-steps.yaml
Due: none

Display var values
  pipelines/common/cd-helm-steps.yaml
Due: none

Update vm image in pipelines
  pipelines/backendapi_dev-ci-cd.yaml
  pipelines/frontend_dev-ci-cd.yaml
Due: none

Remove debugging, add CD specific pipeline
  pipelines/common/cd-helm-steps.yaml
  pipelines/deploy-to-aks.yaml
  pipelines/dev-ci-cd.yaml
  pipelines/placeholder_dev-ci-cd.yaml
Due: none

Remove invalid dependency
  pipelines/deploy-to-aks.yaml
Due: none

Add manual helm example
  example/manual_helm_command.txt
Due: none

Updated trigger
  src/Services/Frontend/trigger.txt
Due: pipelines/dev-ci-cd.yaml
